{% extends 'baseAdmin.html.twig' %}
{% block content %}



    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une question</h4>
                <p class="card-description">

                </p>

                {{ form_start(form, {'method': 'post', 'action': path('create_question_admin') }) }}

                <div class="form-group">
                    {{ form_row(form.description,{ 'attr': {'class': 'divtest','placeholder': 'Description','required' :'1'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.reponse,{ 'attr': {'class': 'divtest','placeholder': 'reponse','required' :'1'} }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.choix,{ 'attr': {'class': 'divtest','placeholder': 'choix','required' :'1'} }) }}

                </div>
                <div class="form-group">
                    {{ form_row(form.challenge,{ 'attr': {'class': 'divtest','placeholder': 'challenge','required' :'1'} }) }}
                </div>

                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>




{% endblock %}