{% extends 'baseAdmin.html.twig' %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des Questions</h4>
                            <p class="card-description">

                                <code> <a href="{{ path("create_question_admin") }}"  class="btn btn-primary btn-md-2">ajouter</a></code>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>

                                        <th>Description</th>
                                        <th>Réponse</th>
                                        <th>Choix</th>
                                        <th>Challenge</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for v in questions %}
                                        <tr>

                                            <td> {{ v.description }}</td>
                                            <td> {{ v.reponse}}</td>
                                            <td> {{ v.choix }}</td>
                                            <td> {{ v.challenge.nom }}</td>



                                            <td> <a href=" {{ path("update_question_admin",{'id':v.id}) }}" class="btn btn-success"> Modifier</a></td>
                                            <td> <a href=" {{ path("delete_question_admin",{'id':v.id}) }}" class="btn btn-danger"> Supprimer</a></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







