

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>QCM</title>
    <meta name="description" content="Questionnaire à choix multiples en Javascript pour passer des évaluations sur des Quizz" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="content-language" content="fr" />
    <link href='{{ asset('qcm/styles/mef.css') }}' rel='stylesheet' type='text/css' />
    <script language="Javascript" src="{{ asset('qcm/js/questions.js')}}"></script>
</head>
<body>

<div class="div_conteneur_parent">
    <div id="infos" class="texte_div"></div>
    <div class="div_conteneur_page">
        <a href="http://www.bonbache.fr/" target="_self">
            <img src="{{ asset('qcm/images/le_formateur.png')}}" style="width:50px;border:none;" align="left" alt="formateur informatique" />
        </a>
        <div class="titre_page"><h1>Quizz pour le freelancer- Système d'évaluation</h1></div>
         <h2><div id="time" style="float:right">timeout</div></h2>
<script type="text/javascript">
    var timeleft=2*60;
</script>


        <div id="form1" onload="timeout()" class="div_int_page">

            <div style="width:100%;display:block;text-align:center;">
            </div>

            <div class="div_saut_ligne" style="height:30px;">
            </div>

            <div style="float:left;width:10%;height:40px;"></div>
            <div style="float:left;width:80%;height:40px;text-align:center;">
                <div class="calque_titre">
                    <h1>Questionnaire à choix multiples - Cliquez sur la bonne réponse</h1>
                </div>
            </div>

            <div style="float:left;width:10%;height:40px;"></div>

            <div class="div_saut_ligne">
            </div>

            <div style="width:100%;height:auto;text-align:center;">

                <div style="width:800px;display:inline-block;" id="conteneur">

                    <div class="centre">
                        <div class="titre_centre" id="question">


                        </div>
                    </div>

                    <div class="colonne" id="liste">
                        <div class="calque_rep" id="rep1" onClick="valider(1)"></div>
                        <div class="calque_rep" id="rep2" onClick="valider(2)"></div>
                        <div class="calque_rep" id="rep3" onClick="valider(3)"></div>
                        <div class="calque_rep" id="rep4" onClick="valider(3)"></div>
                    </div>

                    <div class="centre">
                        <div class="titre_centre" id="apercu" style="text-align:left;font-family:Calibri;">
                            <input type="button" value="debuter" style="margin-left:10px;" onClick="debuter();" />
                            <div id="stats" style="float:right;padding-right:15px;">
                                <div style="float:left;">Votre score :&nbsp;</div>
                                <div id="score" style="float:left;font-weight:bold;">10</div>
                                <div style="float:left;">, Questions restantes :&nbsp;</div>
                                <div id="restant" style="float:left;font-weight:bold;">10</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="div_saut_ligne" style="height:50px;">
            </div>

        </div>
    </div>

</div>
<select id="">
    {% set a = 0 %}
{% for i in choix %}

    {% set a = a + 1 %}

    {% if a == 1 %}
        <option id ="qq"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
    {% if a == 2 %}
        <option id ="q2"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
    {% if a == 3 %}
        <option id ="q3"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
    {% if a == 4 %}
        <option id ="q4"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
    {% if a == 5 %}
        <option id ="q5"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
    {% if a == 6 %}
        <option id ="q6"value="{{ i.choix }}">{{ i.choix }}</option>
    {% endif %}
{% endfor %}
</select>
</body>

<script type="text/javascript" language="javascript">

    var bonne_rep = 0; var nb_questions = 10;
    var nb_erreurs = 0; var mem_nb_alea="";
    var jouer=false;

    function debuter()
    {
        jouer = true;
        bonne_rep = 0; nb_questions = 10;
        nb_erreurs = 0; mem_nb_alea="";
        init();
        suivant();
        timeout();
    }

    function init()
    {
        document.getElementById('restant').innerText = nb_questions;
        document.getElementById('score').innerText = 10-nb_erreurs;
    }
    function valider(num_rep)
    {
        if(jouer==false)
            return;

        if(num_rep != bonne_rep)
            nb_erreurs++;

        nb_questions--;
        if(nb_questions==0)
        jouer=false;


        init();
        suivant();



    }
    function questions(numero) {
        var chaine="";

        switch(numero) {
            case 1:
                var chaine = document.getElementById('q2').value;
                break;
            case 2:
                var chaine = document.getElementById('qq').value;
                break;
            case 3:
                var chaine = document.getElementById('q3').value;
                break;
            case 4:
                var chaine = document.getElementById('q4').value;
                break;
            case 5:
                var chaine = document.getElementById('q5').value;
                break;
            case 6:
                var chaine = document.getElementById('q6').value;
                break;


        }
        return chaine;
        //console.log(chaine);
    }
    function suivant()
    {
        var indice; var test = true; var nb_alea =0;
        if(jouer== false)
            return;

        while(test==true)
        {
            nb_alea = Math.floor(Math.random()*6) + 1;

            if(mem_nb_alea.indexOf("-" + nb_alea +"_")>-1)
                nb_alea = Math.floor(Math.random()*6) + 1;
            else
            {
                test = false;
                mem_nb_alea += "-" + nb_alea +"-";
            }
        }
        var chaine_question = questions(nb_alea);

        //alert(chaine_question);
        var tab_question = chaine_question.split('*');

        document.getElementById('question').innerText = tab_question[0];

        for(indice=1; indice <=4;indice++)
        {
            document.getElementById('rep'+ indice).innerText = tab_question[indice];

        }
        bonne_rep = tab_question[5];
    }
    function timeout() {
        var minute = Math.floor(timeleft/60);
        var seconde =timeleft%60;
        if(timeleft<=0)
        {
            clearTimeout(tm);
          document.getElementById("form1").debuter();
        }
        else {
            document.getElementById("time").innerHTML=minute+":"+seconde;
        }
        timeleft--;
        var tm =setTimeout(function () {
           timeout()
        },1000);
    }

</script>

</html>
<script src="{{ asset('JS/jquery.js') }}"></script>
<script>
    $(function () {
        var timetext = $("[timer]");
        setInterval(function () {
            $.post("",{type :"timerupdate"},function (data) {
                timetext.html("time left: "+ data + "seconds");
            });

        },1000)
    });
</script>