{% for i in question %}
    {% for q in i %}

        <div class="content-element">
            <p>{{ q.description }}</p>


                <div class="radio">
                    <label>
                        <input type="radio" name="answers[{{ q.id }}]" value="{{ q.id }}"
                                {% if checked is defined %}{{ checked }}{% endif %} >
                        <span class="upper">.</span> {{ q.choix }}
                    </label>
                </div>

        </div>
{% endfor %}
{% endfor %}


