{% extends 'challengeAdd.html.twig' %}
{% block content %}

    <div class="jp_adp_main_section_wrapper">
        <div class="container">
            {{ form_start(form, {'method': 'post', 'action': path('create') }) }}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_adp_form_heading_wrapper">
                        <h2>Publier un challenge</h2>
                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.nom) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.specialite) }}
                    </div>


                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom_line_Wrapper">
                    <div class="jp_adp_form_heading_wrapper">
                        <p></p>
                    </div>
                    <div class="jp_adp_form_wrapper">

                        {{ form_row(form.email,{ 'attr': {'class': 'divtest','placeholder': 'email','required' :'1','pattern':'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'} }) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.phone,{ 'attr': {'class': 'divtest','placeholder': 'phone','required' :'1','pattern':'[0-9]{8}'} }) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.date,{ 'attr': {'class': 'divtest','placeholder': 'Date','required' :'1','pattern':'^(0?\d|[12]\d|3[01])-(0?\d|1[012])-((?:19|20)\d{2})$'} }) }}

                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_adp_choose_resume_bottom_btn_post">
                        <ul>
                            <li><a href="#"><i class="fa fa-plus-circle"></i>&nbsp; <input type="submit" value="Ajouter" class="fa fa-plus-circle"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
