{% extends 'challengeAdd.html.twig' %}
{% block content %}

    <div class="jp_adp_main_section_wrapper">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_adp_form_heading_wrapper">
                        <h2>Mettre à jour un challenge</h2>
                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.nom) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.specialite) }}
                    </div>


                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom_line_Wrapper">
                    <div class="jp_adp_form_heading_wrapper">
                        <p></p>
                    </div>
                    <div class="jp_adp_form_wrapper">

                        {{ form_row(form.email) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.phone) }}

                    </div>
                    <div class="jp_adp_form_wrapper">
                        {{ form_row(form.date) }}

                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_adp_choose_resume_bottom_btn_post">
                        <ul>
                            <li><a href="#"><i class="fa fa-plus-circle"></i>&nbsp; <input type="submit" value="Ajouter" class="fa fa-plus-circle"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
